footer.footer
  .footer-container.container.container-md.py-25px.py-lg-35px(class=setClass.container)
    .footer-content
      p.note_15.text-grey.pt-20px.text-center.text-lg-left 
        |Copyright © 2022 
        |Vincent Fang. All Rights Reserved.