header.header
  .header-container.container.container-md.py-25px(class=setClass.container)
    .header-content.d-flex.align-items-center.justify-content-between
      .logo
        img(src="~img/logo-sm.png", alt="")