-
  const setClass = {

    containerDemo: "pb-100px",
    containerDemoHeader: "py-25px",
    containerDemoFooter: "py-0px",

    container: "",
    container_xxl: "",
    anchor: "",
    containerFullMargin: "",
  }

  const icons = {
    desktop: '',
    dot: '',
  }

  