/* Form 相關的變數 */
/* Form element global styles */
$input-h = 40px
$form-color = rgb(50, 49, 48)
$form-error-color = c-red
$form-error-bgcolor = c-pink
$form-border-color = $form-color
$form-border-color-hover = darken($form-color, 30%)
$form-disabled-color = rgb(161, 159, 157);
$form-checked-color = c-primary
$form-focus-border-color = c-lightblue

$form-border-width = 1px
$form-padding = 10px
$form-margin = 10px
$form-inner-line-height = 1.2
$form-placeholder-color = #bbb