@keyframes donutSpin
  0%
    transform rotate(0)
  100%
    transform rotate(360deg)
@keyframes scaleRotateIn
  0%
    transform rotate(10deg) scale(0)
  50%
    transform rotate(45deg) scale(1.8)
  100%
    transform rotate(0) scale(1)
@keyframes fadeIn
  0%
    opacity 0
  100%
    opacity 1
@keyframes fadeOut
  0%
    opacity 1
  100%
    opacity 0
@keyframes ripple
  0%
    opacity 1
    transform scale(0)
  80%
    transform scale(1)
  100%
    opacity 0

@keyframes shake
  0% 
    margin-left 8px * 2
  20% 
    margin-left -8px * 2
  40% 
    margin-left 6px * 2
  50% 
    margin-left -6px * 2
  60% 
    margin-left 5px * 2
  68% 
    margin-left -5px * 2
  76% 
    margin-left 4px * 2
  82% 
    margin-left -4px * 2
  88% 
    margin-left 3px * 2
  92% 
    margin-left -3px * 2
  96% 
    margin-left 2px * 2
  98% 
    margin-left -2px * 2
  100% 
    margin-left 0

@keyframes zoomInOnce
  0% 
    transform: scale(1)
  65% 
    transform: scale(1.025)
  100% 
    transform: scale(1)
