/*
 * button 相關
 * .button-style-{primary | secondar | warnin | dange | darkgary}
 * is-disabled | is-active | :hover | :active
 */
button
  padding 0
  background none
  outline none
  border none

.button
  cursor pointer
  &Group &
    margin 0 15px
